html {
    display: flex;
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero {
    background-color: #e0634b;
    padding: 0 180px;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.flowerlogo {
    width: 120px;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
}

a {
    color: #f9faf8;
    text-decoration: none;
}

/* Main 1st part */

.awesome {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    padding: 20px 0;
}

.flowerimg {
    width: 400px;
    border-radius: 10px;
}

.maintext {
    font-size: 48px;
    font-weight: 800;
    padding-bottom: 5px;
}

.secondtext {
    font-size: 20px;
    padding-bottom: 10px;
}

button {
    font-size: 18px;
    background-color: darkgreen;
    font-weight: bold;
    padding: 9px 35px;
    border: 0px;
    border-radius: 10px;
}

button:hover {
    background-color: #6d0617;
}

/* Main 2nd part */

.info {
    background-image: url(../img/leftflowers.jpg);
    background-size: 100%;
}

.infoheader {
    font-size: 36px;
    font-weight: 800;
    color: #6d0617;
    text-align: center;
    padding: 20px 0;
}

.text {
    color: #6d0617;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.text:hover, .infoheader:hover {
    color: darkgreen;
}

.infoimages {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 40px;
}

.infoimg {
    width: 150px;
    height: 150px;
    border: solid darkgreen;
    border-radius: 10px;
    object-fit: cover;
}

/* Main 3rd part */

.quote {
    background-color: #fa9327;
    color: #f9faf8;
    padding: 50px 320px;
}

@font-face {
    font-family: "Lato thin italic";
    src: url("Lato-ThinItalic.ttf");
}

.quotation {
    font-size: 36px;
    font-family: "Lato thin italic", 'Times New Roman', Times, serif;
    font-weight: bold;
}

.author {
    font-weight: bold;
    font-size: 25px;
    text-align: right;
}

/* Main 4th part */

.bossaction {
    padding: 80px 200px;
    background-image: url(../img/leftflowers.jpg);
    background-size: 100%;
}

.action {
    display: flex;
    background-color: darkgreen;
    border-radius: 10px;
    padding: 40px 50px;
    justify-content: space-between;
    gap: 20px;
}

.mainactiontext {
    font-weight: bold;
    font-size: 25px;
}

.actionbuttoncontainer {
    display: flex;
    align-items: center;
}

.actionbutton {
    border: solid #f9faf8;
}

/* Footer */

footer {
    background-color: #e0634b;
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/*
    Image attribution:

    - leftflowers.jpg: Clipart Library, "Flower Border Line Design #1364648", http://clipart-library.com/clipart/kc85GyxMi.htm

*/